{% extends 'layout/base.html' %}

{% block title %}Danh sách lớp{% endblock %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery và Popper.js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


{% block content %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Danh sách lớp</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Lớp</a></li>
                        <li class="breadcrumb-item active">Xem danh sách lớp</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>Tải xuống</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content container-fluid">
        <div class="col-12 col-sm-3">
            <div class="form-group">
                <label>Chọn lớp</label>
                <select class="form-control" name="" id="classSelector">
                    <option disabled selected>Chọn lớp</option>
                    {% for l in dslop %}
                    <option value="{{ l.id }}">{{ l.tenLop }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="dataTable" class="table table-hover table-center mb-0 datatable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Họ tên</th>
                                <th>Giới tính</th>
                                <th>Ngày sinh</th>
                                <th>Địa chỉ</th>
                                <th>Chỉnh sửa</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--                            {% for lop, hocsinh in data %}-->
                            <!--                            <tr>-->
                            <!--                                <td>{{ hocsinh.id }}</td>-->
                            <!--                                <td>-->
                            <!--                                    <h2 class="table-avatar">-->
                            <!--                                        <a href="#">{{ hocsinh.hoTen }}</a>-->
                            <!--                                    </h2>-->
                            <!--                                </td>-->
                            <!--                                <td>{{ hocsinh.gioiTinh }}</td>-->
                            <!--                                <td>{{ hocsinh.namSinh }}</td>-->
                            <!--                                <td>{{ hocsinh.diaChi }}</td>-->
                            <!--                            </tr>-->
                            <!--                            {% endfor %}-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-table">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dslop" class="table table-hover table-center mb-0 datatable">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Tên lớp</th>
                                    <th>Sĩ số</th>
                                    <th>Mã khối lớp</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                                </thead>
                                <tbody class="lop-table-body">
                                {% for l in dslop %}
                                <tr>
                                    <td>{{ l.id }}</td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="#">{{ l.tenLop }}</a>
                                        </h2>
                                    </td>
                                    <td>{{ l.siSo }}</td>
                                    <td>{{ l.khoiLop_id }}</td>
                                    <td>
                                        <div class="actions">
                                            <button class="btn-sua btn btn-outline-primary" data-id="{{ l.id }}">
                                                <i class="fas fa-pen"></i>
                                            </button>
                                            <button class="btn-xoa btn btn-outline-primary" data-id="{{ l.id }}">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal chỉnh sửa thông tin học sinh -->

<!-- Modal chỉnh sửa thông tin lớp học -->
        <div class="modal" id="editModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Chỉnh Sửa Thông Tin Lớp Học</h4>
                        <button type="button" class="close" data-dismiss="modal" id="closeModalBtn">&times;</button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form id="editForm">
                            <div class="form-group">
                                <label for="tenLop">Tên Lớp:</label>
                                <input type="text" class="form-control" id="tenLop" required>
                            </div>
                            <div class="form-group">
                                <label for="siSo">Sĩ Số:</label>
                                <input type="number" class="form-control" id="siSo" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Lưu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}