{% extends 'admin/master.html' %}

{% block head_css %}
{{ super() }}
<link rel="shortcut icon" href="https://res.cloudinary.com/dkmurrwq5/image/upload/v1704274723/logo.png">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
<link href="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_admin.css')}}">
{% endblock %}

{% block body %}

{% if current_user.is_authenticated %}
<h1 class="text-center text-info">CHÀO MỪNG ĐẾN TRANG QUẢN TRỊ!!!</h1>
<h2 class="text-danger">Chào {{ current_user.username }}</h2>
{% else %}
{% block content %}

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid"
                         src="https://res.cloudinary.com/dkmurrwq5/image/upload/v1704274703/login_logo.svg" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Đăng nhâp</h1>
                        <p class="account-subtitle">Truy cập vào trang quản trị</p>
                        {% if err_msg %}
                        <div class="alert alert-danger">
                            {{err_msg}}
                        </div>
                        {% endif %}
                        <form method="post" action="/admin/login">
                            <div class="form-group">
                                <input class="form-control" type="text" id="username" name="username"
                                       placeholder="Tên đăng nhập">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" id="password" name="password"
                                       placeholder="Mật khẩu">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src=""></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://cdn.datatables.net/v/bs4/dt-1.13.8/datatables.min.js"></script>
{% endblock %}